@import 'reset';


// body {
//   margin: 0; // 1
//   font-family: $font-family-base;
//   font-size: $font-size-base;
//   font-weight: $font-weight-base;
//   line-height: $line-height-base;
//   color: $text-color;
//   text-align: left; // 3
//   background-color: $body-bg; // 2
// }

// .resizeable-both {
//   @include resizable(both);
//   border: 1px solid $gray-400;
//   display: block;
// }

// BASICS
body {
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 5.5rem;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-weight: 900;
  margin: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #e8ef4b;
  display: inline-block;
  color: #f7fac9;
  padding: 0 0.625rem;
}

h4 {
  font-size: 0.875rem;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.5em;
}

p {
  font-size: 0.75rem;
  letter-spacing: 0.11rem;
  line-height: 1.25rem;
  font-weight: 300;
  max-width: 800px;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  li {
    &:not(:last-of-type) {
      // margin-bottom: 0.75em;
    }
    span {
      font-weight: 700;
    }
  }
}

.mobile-only {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
    h2 {
      font-size: 1.75rem;
    }
}

// TABLET
@media (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  h2, h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 3.5rem;
      line-height: 3.6rem;
  }
}
