.l {
    &-section {
        position: relative;
        margin: 250px 0;
        padding: 50px 0 0;
        overflow-x: hidden;

        @media only screen and (max-width: 768px) {
            margin: 0;
            padding: 250px 0;
        }

        @media only screen and (max-width: 414px) {
            margin: 0;
            padding: 250px 0;
        }

        @media only screen and (max-width: 414px) {
            padding: 7vh 0;
        }

        @media only screen and (max-width: 375px) {
            padding: 0;
            margin-bottom: 40vw;
        }

        &--full-vh {
        padding: 0;
        margin: 0;
        margin-bottom: 250px;
        height: 100vh;
        }

        &--no-margin {
            margin: 0;
        }

        &--no-padding {
            padding: 0;
        }

        &--small-margin-btm {
            margin-bottom: 75px;
        }
    }
    &-container {
        &--center {
        &-horizontal {
            width: 80vw;
            margin: 0 auto;
            @media only screen and (max-width: 640px) {
            width: auto;
            margin: 0 1.5rem;
            }
        }
        &-vertical {
            position: absolute;
            top: 47%;
            transform: translateY(-51%);
        }
        }

        & .c-contact-info {
            padding: 0.5rem 3rem;
        }
    }
}