.l {
    &-section {
        position: relative;
        margin: 250px 0;

        &--full-vh {
        margin: 0;
        height: 100vh;
        }
    }
    &-container {
        &--center {
        &-horizontal {
            width: 80vw;
            margin: 0 auto;
            @media (max-width: 640px) {
            width: auto;
            margin: 0 1.5rem;
            }
        }
        &-vertical {
            position: absolute;
            top: 47%;
            transform: translateY(-51%);
        }
        }

        & .c-contact-info {
            padding: 0.5rem 3rem;
        }
    }
}